<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-loader></app-loader>
<div *ngIf="auth.isLoggedIn()" fxLayout="row" style="height: 100%">
  <div style="max-width: 12.8em !important; min-height: 100% !important;" fxFlexOrder="1" id="sideBar">
    <app-side-bar></app-side-bar>
  </div>
  <div style="width: 100% !important; min-height: 100% !important; text-align: center" fxFlexOrder
    ="2" id="bodyContent">
    <div class="bg-img content-style">
      <span *ngIf="isLoaded"><router-outlet></router-outlet></span>
    </div>
  </div>
</div>

<div *ngIf="!auth.isLoggedIn()" fxLayout="row" style="height: 100% !important;">
  <div fxFlex="100%" style="height: 100% !important;">
    <div class="bg-img content-style" style="height: 100% !important;">
      <span *ngIf="isLoaded"><router-outlet></router-outlet></span>
    </div>
  </div>
</div>
