<form class="calc" ng-controller="MyCtrl">
  <p class="calc-display">
    <input [disabled]="true" type="text" name="output" id="res" value="{{output}}" class="calc-display-input">
  </p>
  <p class="operators">
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("/")'>÷</button>
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("*")'>x</button>
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("-")'>-</button>
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("+")'>+</button>
  </p>
  <p class="operators">
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("!")'>!</button>
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("^")'>^</button>
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("√")'>√</button>
    <button type="button" class="calc-button calc-button-red calc-button-big" (click)='operate("∛")'>∛</button>
  </p>
  <p class="calc-row">
    <button type="button" class="calc-button" *ngFor="let n of [0,1,2,3,4,5,6,7,8,9]"
            (click)="updateOutput(n)">{{n}}</button>
    <button type="button" class="calc-button" (click)="updateOutput('.')">.</button>
    <button type="button" class="calc-button" (click)="clear()">C</button>

  </p>
  <p class="calc-row">
    <button type="button" class="calc-button calc-button-yellow calc-button-big" (click)="equal()">=</button>
  </p>
</form>
